/* Barra de navegación */
nav{    
    transition: 0.5s;
    font-size: 20px;
}
/* Estilos del banner principal */
.banner{
    background: linear-gradient(180deg, #1d1e33,70%, #323846);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-photo{
    width: 55%;
}

.banner-grid{
    display: flex;
    height: 50%;
    max-height: 500px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.banner-text{
    height: 55%;
}

.subtitle{
    font-family: "Arial Black";
    font-size: 80px;
    color: #606674;
    text-shadow: -7px 7px 1px rgba(205,205,205,1);
    word-wrap: break-word;
}

.main{
    font-size: 60px;
    color: white;
    text-shadow: -7px 7px 1px #111227;
    margin-bottom: 30px;
}

.about-img{
    height: 80px;
}

.card-text{
    font-size: 18px !important;
}

.projects{
    background: linear-gradient(180deg, #323846,70%, #1d1e33);
}

.projects #carouselCaption{
    background-color: transparent;
}

.card{
    width: 100%;
}

.card-img{
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.carousel-inner{
    width: 400px;
}

.carousel-item img{
    transition: 1s;
    height: 400px;
    object-fit: cover;
    object-position: center;
    filter: brightness(60%);
}

.carousel-item img:hover{
    filter: brightness(100%);
    transform: scale(105%);
}

.caption{
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.landing{
    width: 90%;
}

textarea{
    resize: none !important;
}
.iti{
    width: 100%;
}

.iti__arrow{
    border: none;
}

.code img{
    height: 30px;
    margin: 3px;
}

@media (max-width: 768px) {
    .banner-grid{
        height: auto;
        max-height: max-content;
    }
    .banner-text{
        height: auto;
    }
    .landing{
        width: 100%;
    }
    .subtitle{
        font-size: 50px;
    }
}

/* De aqui hacia abajo siempre quedará ultimo */

.up{
    background-color: transparent;
    color: transparent;
    width: 120px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    font-size: 45px;
    position: fixed;
    right: -40px;
    bottom: 40px;
    transition: .2s;
}

.up:hover{
    right: -30px;
}

@media (max-width: 768px) {
    .up{
        width: 80px;
        height: 60px;
        font-size: 30px;
        right: -20px;
        bottom: 90px
    }

    .up:hover{
        right: -20px;
    }
}